.intro {
    height: 100vh;
    width: 100%;
    padding-top: 20%;
    padding-right: 50px;
    background: #F0F8FF;
    background-size: cover;
    text-align: center;
    /* background-attachment: fixed; */
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    
}